<html>
    <head>
    <title>Ana's Blog</title>
    </head>
    <body>
        <div>
    <h1><a href="">So I was thinking...</a> </h1>
    </div>

    <h2>...about writing a blog...</h2>

    <div>
    <p>published: 24.06.2017</p>
    <h3><a href="">I wonder where this thought will go?</a> </h3>
    <p> this leads to my first post </p>
    </div>

    <br />

     <div>
    <p>published: 24.06.2017</p>
    <h3><a href="">My second post</a> </h3>
    <p> this leads to my second post </p>
    </div>

         <div>
    <p>published: 24.06.2017</p>
    <h3><a href="">My third post</a> </h3>
    <p> this leads to my third post </p>
    </div>
    <div>
    <a href="https://djangogirls.org">link</a>
    <ul><li>So many ideas</li>
    <li> so little time</li></ul>
    <p> Hi there!</p>
    <p>It works!</p>
    </div>
    </body>
</html>
